@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #ffc600;
    background: linear-gradient(to right, #FF0000, #D4D3DD, #ffc600);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1 {
    letter-spacing: 2px;
}

.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 98vw;
}

.pokemon {
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemon .img-container img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .name {
	margin: 15px 0 7px;
    text-transform: capitalize;
	letter-spacing: 1px;
}



/* *{box-sizing: border-box;}

.wrapper{
    width: 960px;
    max-width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    background: white;
}

.parent-box{
    display: flex;
    flex-wrap: wrap;
}

.image-box{
    width: 25%;
    height: 227px;
    min-width: 250px;
    padding: 8px;
    box-shadow: 0 0 3px #bdbdbd;
    overflow: hidden;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: zoom-in;
    transition: all 0.2s ease-in;
    border-radius: 4px;
}

.image-box > img {
    width: 100%;
    height: 100%;
}

.image-box:hover{
    box-shadow: 0 5px 18px -3px #bdbdbd;
}


.modal-box{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(3,3,3, 0.9);
    transition: all .33s ease-out;
    
}

.modal-box .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    cursor: zoom-out;
    z-index: 1;
}

.modal-box --image{
    background: white;
    position: absolute;
    width: 700px;
    height: 500px;
    max-height:90%;
    max-width: 90%;
    padding: 20px;
    border-radius: 5px;
    z-index:3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-box --image img {
    width:92%;
    height: 92%;
    max-height:90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-box .invisible{
    opacity: 0;
    display: none;
    visibility: hidden;
    transform: translateY(-120%);
    z-index: -10;
}*/

.active {
    position: fixed;
    text-align: left;
    width: 95%;
	height: 500px;
} 